<nav class="bottom-nav">
  <a class="nav-item" [class.active]="isActive('/feed')" (click)="navigateToFeed()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  
  <a class="nav-item" [class.active]="isActive('/discover')" (click)="navigateToFeed()">
    <mat-icon>search</mat-icon>
    <span>Discover</span>
  </a>
  
  <a class="nav-item upload-btn" [class.active]="isActive('/upload')" (click)="navigateToUpload()">
    <div class="upload-icon">
      <mat-icon>add</mat-icon>
    </div>
  </a>
  
  <a class="nav-item" [class.active]="isActive('/inbox')" (click)="navigateToFeed()">
    <mat-icon>chat_bubble_outline</mat-icon>
    <span>Inbox</span>
  </a>
  
  <a class="nav-item" [class.active]="isActive('/profile')" (click)="navigateToProfile()">
    <img *ngIf="currentUser?.profilePicture; else defaultAvatar" 
         [src]="currentUser.profilePicture" 
         [alt]="currentUser.fullName"
         class="profile-avatar">
    <ng-template #defaultAvatar>
      <mat-icon>person</mat-icon>
    </ng-template>
    <span>Profile</span>
  </a>
</nav>